body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.area {
  fill: steelblue;
}

  /* tell the SVG path to be a thin blue line without any area fill */
  path {
      stroke: steelblue;
      stroke-width: 1;
      fill: none;
  }
  .axis {
      shape-rendering: crispEdges;
  }
  .x.axis line {
      stroke: lightgrey;
  }
  .x.axis .minor {
      stroke-opacity: .5;
  }
  .x.axis path {
      display: none;
  }
  .y.axis line, .y.axis path {
      fill: none;
      stroke: lightgrey;
  }

  .tick text {
      fill: lightgrey;
  }

  .bar {
      fill: steelblue;
  }